---
import type { CoordInfo } from "../content/coords";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faLinkedin,
  faGithub
} from "@fortawesome/free-brands-svg-icons";
import { faLink } from "@fortawesome/free-solid-svg-icons";

let { coord } = Astro.props;
let coordInfo: CoordInfo = coord;

const titles = coord.study ? [coord.grade, coord.study] : [coord.grade];

const card = await import("../content/profiles/" + coord.image);

// dynamically create coordCard links, with a specific icon and href
const coordLinks = [
  {
    givenLink: coordInfo.personalLink,
    link: coordInfo.personalLink,
    icon: faLink,
  },
  {
    givenLink: coordInfo.github,
    link: "https://github.com/" + coordInfo.github,
    icon: faGithub,
  },
  {
    givenLink: coordInfo.linkedIn,
    link: "https://www.linkedin.com/in/" + coordInfo.linkedIn,
    icon: faLinkedin,
  },
].filter(e => e.givenLink); // filter out empty links/not given links
---

<div class="h-fit block bg-red-50 drop-shadow-xl rounded-md pb-4">
  <img
    src={card.default}
    alt={coordInfo.name}
    class="inset-0 object-cover overflow-hidden rounded-t-md w-full overflow-wrap"
  />
  <div class="px-3 flex flex-col">
    <p class="text-sm pt-3 pb-1">{titles.join(" - ")}</p>
    <h1 class="text-xl font-bold">{coordInfo.name}</h1>
    <div class="flex flex-row my-1">
      {
        coordLinks.map((e) => (
          <div class="w-1/12 mr-2">
            <a href={e.link} rel="noopener nofollow" target="_blank">
              <FontAwesomeIcon icon={e.icon} />
            </a>
          </div>
        )) // turn links into icon buttons
      }
    </div>
    <p class="text-sm">{coord.bio}</p>
  </div>
</div>
